.inactive {
    position: relative;
    text-align: center;
    white-space: nowrap;
  
    color:black;
    background: whitesmoke;
    font-size: 15px;
  
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 18px 35px 15px 35px;
  }